Frank.ConsoleDrawingTool/bin/
Frank.ConsoleDrawingTool/obj/
*.suo
*.cache
Frank.ConsoleDrawingTool.Domain/obj/
Frank.ConsoleDrawingTool.Domain.Tests/obj/
Frank.ConsoleDrawingTool.Domain.Tests/bin/
Frank.ConsoleDrawingTool.Domain/bin/
*.user
